In [1]:
import os, sys
PWD = os.getenv('PWD')
os.chdir(PWD)
sys.path.insert(0, os.getenv('PWD'))
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "local_settings.py")
import django
django.setup()
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

from pandas import DataFrame, to_datetime, set_option
from bokeh.models import ColumnDataSource, HoverTool, Range1d, FactorRange
from bokeh.plotting import figure, show
from bokeh.io import output_notebook

set_option('display.max_columns', 500)
set_option('display.max_row', 1000)

output_notebook()

In [2]:
from app.models import Movimpu, Imputaci, Movgan, MovSilos, MovProd, Gf, Giros, \
CtaCte, MovCons, MovLeche, VctaCte, GanCar, Silos, Producto, Cheqrec, Pendpago, \
Pendcobro, Bancos, Libroba, Tractor, Maquina, Transp, Bolsas, Cultivo

# Activos

## Activo corriente

### Stock

#### Ganado

In [3]:
mov_gan = DataFrame(Movgan.objects.values('nro_novedad', 'fecha', 'entrada_salida', 'total')); mov_gan

     nro_novedad       fecha  entrada_salida      total
0            337  2017-08-24               2    8977.00
1            337  2017-08-24               2   13038.00
2            421  2017-10-24               2   14190.00
3            421  2017-10-24               2   31244.00
4            421  2017-10-24               2    9680.00
5            421  2017-10-24               2   33908.00
6            421  2017-10-24               2    7567.00
7            481  2017-10-24               2   14190.00
8            481  2017-10-24               2   31244.00
9            481  2017-10-24               2    9680.00
10           481  2017-10-24               2   33908.00
11           481  2017-10-24               2    7567.00
12           562  2017-11-14               2  116610.00
13           562  2017-11-14               2   83850.00
14           542  2017-11-14               2   13325.00
15           542  2017-11-14               2   13860.00
16           612  2017-12-12               2   41860.00
17           612  2017-12-12               2   61020.00
18           612  2017-12-12               2   25086.00
19          8430  2016-01-12               2   10320.00
20          8430  2016-01-12               2  175750.00
21          8430  2016-01-12               2  210759.48
22          8597  2016-03-08               2   22185.00
23          8597  2016-03-08               2  159542.00
24          8859  2016-05-31               2  156240.00
25          8726  2016-05-13               2    5200.00
26          8684  2016-05-03               2    8122.00
27          8684  2016-05-03               2   40896.00
28          8684  2016-05-03               2    2040.00
29          9049  2016-07-11               2   12320.00
30          9049  2016-07-11               2   20700.00
31          9049  2016-07-11               2    7392.00
32          9049  2016-07-11               2   10332.00
33          9211  2016-08-23               2   18084.00
34          9211  2016-08-23               2  175360.00
35           612  2017-12-12               2   13195.00
36           612  2017-12-12               2   18126.00
37           612  2017-12-12               2    8160.00
38           612  2017-12-12               2   10980.00
39           612  2017-12-12               2   42000.00
40           612  2017-12-12               2    5700.00
41           781  2018-02-06               2  187698.00
42           753  2018-02-06               2    6800.00
43           753  2018-02-06               2   39117.00
44           834  2018-03-01               2   13795.00
45           871  2018-03-01               2  153546.00
46           919  2018-04-05               2   13603.00
47           919  2018-04-05               2   18240.00
48           919  2018-04-05               2   11590.00
49           919  2018-04-05               2   56628.00
50          1015  2018-05-08               2  141034.00
51           997  2018-05-08               2    9620.00
52          9277  2016-09-20               2   32660.00
53          9277  2016-09-20               2   35100.00
54          9277  2016-09-20               2   10550.00
55          9277  2016-09-20               2  229658.00
56          9355  2016-10-24               2   18880.00
57          9355  2016-10-24               2   27213.00
58          9436  2016-11-15               2  130680.00
59          9436  2016-11-15               2  150405.00
60             1  2016-12-26               2  247500.00
61             2  2017-01-13               2  435840.00
62          9543  2017-01-12               2   55615.00
63          9543  2017-01-12               2   51538.00
64          9618  2017-02-07               2   11826.00
65          9618  2017-02-07               2   20570.00
66            13  2017-03-07               2   14413.00
67            13  2017-03-07               2   15232.00
68            13  2017-03-07               2    5760.00
69            13  2017-03-07               2    7560.00
70          1316  2018-08-23               2    5600.00
71          1316  2018-08-23               2    4900.00
72          1403  2018-09-18               2   24640.00
73          1403  2018-09-18               2   16600.00
74          1403  2018-09-18               2   64872.00
75          1403  2018-09-18               2   12100.00
76          1500  2018-10-18               2   14260.00
77          1500  2018-10-18               2   14000.00
78          1500  2018-10-18               2   21120.00
79          1500  2018-10-18               2    7500.00
80          1500  2018-10-18               2    8910.00
81          1500  2018-10-18               2   13800.00
82          1558  2018-11-15               2   27000.00
83          1558  2018-11-15               2   11932.00
84          1558  2018-11-15               2   56980.00
85          1675  2018-12-11               2  131040.00
86          1640  2018-12-11               2   15600.00
87           997  2018-05-08               2   46813.00
88          1127  2018-06-28               2   17490.00
89          1127  2018-06-28               2   14760.00
90          1127  2018-06-28               2   14750.00
91          1127  2018-06-28               2   19500.00
92          1127  2018-06-28               2   31200.00
93          1127  2018-06-28               2   26536.00
94          1127  2018-06-28               2   19950.00
95          1127  2018-06-28               2   20002.00
96          1127  2018-06-28               2    9500.00
97          1127  2018-06-28               2    8170.00
98          1127  2018-06-28               2   11020.00
99          1127  2018-06-28               2    7990.00
100         1127  2018-06-28               2   35550.00
101         1164  2018-06-28               2  136080.00
102         1342  2018-08-23               2  118490.00
103         1316  2018-08-23               2   21300.00
104         1316  2018-08-23               2   14100.00
105         1316  2018-08-23               2   92160.00
106         8430  2016-01-12               2    5700.00
107         8430  2016-01-12               2    8400.00
108         8430  2016-01-12               2   13794.00
109         8430  2016-01-12               2    7524.00
110         8430  2016-01-12               2    4080.00
111         8430  2016-01-12               2   10320.00
112         8430  2016-01-12               2  175750.00
113         8430  2016-01-12               2    5700.00
114         8430  2016-01-12               2    8400.00
115         8430  2016-01-12               2   13794.00
116         8430  2016-01-12               2    7524.00
117         8430  2016-01-12               2    4080.00
118         1640  2018-12-11               2   72540.00
119         1694  2019-01-08               2   38070.00
120         1838  2019-03-12               2   23310.00
121         1838  2019-03-12               2   20412.00
122         1838  2019-03-12               2  122100.00
123         1897  2019-04-04               2   22032.00
124         1897  2019-04-04               2   18800.00
125         1897  2019-04-04               2   32340.00
126         1897  2019-04-04               2    3220.00
127         1980  2019-05-03               2   17760.00
128         1980  2019-05-03               2   30380.00
129         1980  2019-05-03               2   11340.00
130         1980  2019-05-03               2   11610.00
131         2061  2019-05-28               2   64395.00
132         2061  2019-05-28               2   26190.00
133         2061  2019-05-28               2   35700.00
134         2061  2019-05-28               2   12950.00
135         2095  2019-05-28               2   57600.00
136         2095  2019-05-28               2  214230.00
137           13  2017-03-07               2    9940.00
138          141  2017-05-30               2   74018.00
139          141  2017-05-30               2   92070.00
140           65  2017-05-04               2    3840.00
141          100  2017-05-30               2    2160.00
142          100  2017-05-30               2    9460.00
143           34  2017-05-17               2    4840.00
144           34  2017-05-17               2    2160.00
145           34  2017-05-17               2   12900.00
146          194  2017-06-27               2    7650.00
147          194  2017-06-27               2    9288.00
148          194  2017-06-27               2   19740.00
149          194  2017-06-27               2   16800.00
150          194  2017-06-27               2    9699.00
151          271  2017-07-25               2    8232.00
152          271  2017-07-25               2   37179.00
153          359  2017-08-24               2  146890.00
154          337  2017-08-24               2   12064.00
155          337  2017-08-24               2   12354.00
156         2150  2019-06-25               2   30100.00
157         2150  2019-06-25               2   24400.00
158         2150  2019-06-25               2   22620.00
159         2150  2019-06-25               2   48670.00
160         2150  2019-06-25               2   67890.00
161         2150  2019-06-25               2    7830.00
162         2131  2019-06-25               2   31280.00
163         2131  2019-06-25               2   75075.00
164         2226  2019-07-23               2   40180.00
165         2226  2019-07-23               2   16770.00
166         2226  2019-07-23               2   46200.00
167         2226  2019-07-23               2   53475.00
168         2226  2019-07-23               2  117290.00
169         2226  2019-07-23               2   14260.00
170         2351  2019-08-22               2    9345.00
171         2351  2019-08-22               2  127160.00
172         2351  2019-08-22               2   95850.00
173         2323  2019-08-22               2   32490.00
174         2323  2019-08-22               2   33550.00
175         2323  2019-08-22               2   31320.00
176         2323  2019-08-22               2   22790.00
177         2323  2019-08-22               2   33630.00
178         2323  2019-08-22               2   23460.00
179         2323  2019-08-22               2   56745.00
180         2323  2019-08-22               2   49350.00
181         2414  2019-09-17               2   35090.00
182         2414  2019-09-17               2   25725.00
183         2414  2019-09-17               2  156350.00
184         2414  2019-09-17               2   27825.00
185         2414  2019-09-17               2  118000.00
186         2414  2019-09-17               2   17020.00
187         2505  2019-10-22               2   40300.00
188         2505  2019-10-22               2   35400.00
189         2505  2019-10-22               2   33480.00
190         2505  2019-10-22               2  105000.00
191         2505  2019-10-22               2   53400.00
192         2505  2019-10-22               2   97200.00
193          111  2020-03-09               1       1.00
194           22  2020-03-09               1       1.00
195            1  2020-03-09               1     144.00
196            0  2020-03-09               1    1665.00
197       123465  2020-03-12               1   10000.00
198       123465  2020-03-12               1   20000.00
199       123465  2020-03-12               1   15000.00
200       123465  2020-03-12               1   10000.00

In [4]:
stock_ganado = mov_gan[mov_gan.entrada_salida == 1].total.sum(); stock_ganado

56811.0

#### Silos

In [5]:
silos = DataFrame(Silos.objects.values())
silos['total'] = silos[["stock", "valor"]].product(axis=1); silos

   nro_silo descripcion  nro_cultivo_id  stock   valor    total
0         1        Soja               1   10.0  1200.0  12000.0
1         2        Maiz               3   14.0   146.0   2044.0

In [6]:
stock_silos = silos.total.sum(); stock_silos

14044.0

####  Bolsas

In [63]:
bolsas = DataFrame(Bolsas.objects.values('costo'))
bolsas.costo.sum()

Empty DataFrame
Columns: []
Index: []

####  Cultivo

In [65]:
cultivo = DataFrame(Cultivo.objects.values('costo'))
cultivo.costo.sum()

68.0

#### Productos

In [7]:
productos = DataFrame(Producto.objects.values('descripcion', 'stock_unidades', 'precio_compra'))
productos['total'] = productos[["stock_unidades", "precio_compra"]].product(axis=1); productos

    descripcion  stock_unidades  precio_compra    total
0  Agroquimicos           150.0          200.0  30000.0
1          Soja            45.0           26.0   1170.0
2  Fertilizante           200.0           13.0   2600.0
3   Combustible           200.0           60.0  12000.0
4        Mueble             3.0          400.0   1200.0
5           Aaa           460.0           68.0  31280.0
6             1           138.0          356.0  49128.0

In [8]:
stock_productos = productos.total.sum(); stock_productos

127378.0

In [10]:
recibidos = DataFrame(Cheqrec.objects.values()); recibidos

,id_cheqrec,nro_cliente_id,fecha_ingreso,fecha_cheque,nro_cheque,nro_banco_id,nombre_banco,importe,diroter,cartera,motivosalida,descmot,nro_recibo_id
0,1,2,2017-12-30,2017-12-26,75396702,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,53
1,2,2,2017-12-30,2017-12-26,75396703,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,53
2,3,2,2018-02-24,2018-02-21,75892734,330,Nuevo Banco De Santa Fe S,41011.26,D,0,None,Galvez,57
3,4,2,2018-02-24,2018-03-19,75892736,330,Nuevo Banco De Santa Fe S,48178.04,D,0,None,Galvez,57
4,5,2,2018-02-24,2018-03-19,75892735,330,Nuevo Banco De Santa Fe S,48178.04,D,0,None,Galvez,57
5,6,2,2018-02-24,2018-03-19,75892737,330,Nuevo Banco De Santa Fe S,48178.04,D,0,None,Galvez,57
6,7,2,2018-02-24,2018-03-19,75892738,330,Nuevo Banco De Santa Fe S,48178.04,D,0,None,Galvez,57
7,8,2,2018-03-17,2018-03-14,75892949,330,Nuevo Banco De Santa Fe S,9694.56,D,0,None,Galvez,58
8,9,2,2018-03-17,2018-04-11,75892998,330,Nuevo Banco De Santa Fe S,37984.09,D,0,None,Galvez,59
9,10,2,2018-03-17,2018-04-11,75892997,330,Nuevo Banco De Santa Fe S,40000.00,D,0,None,Galvez,59
10,11,2,2018-03-17,2018-04-11,75892995,330,Nuevo Banco De Santa Fe S,40000.00,D,0,None,Galvez,59
11,12,2,2018-03-17,2018-04-11,75892996,330,Nuevo Banco De Santa Fe S,40000.00,D,0,None,Galvez,59
12,13,2,2018-04-18,2018-04-18,76710756,330,Nuevo Banco De Santa Fe S,44664.54,D,0,None,Galvez,65
13,14,2,2018-04-18,2018-04-18,76710755,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,65
14,15,2,2018-06-16,2018-05-21,76711201,330,Nuevo Banco De Santa Fe S,26000.00,D,0,None,Galvez,67
15,16,2,2018-06-16,2018-05-21,76711202,330,Nuevo Banco De Santa Fe S,26768.99,D,0,None,Galvez,67
16,17,2,2018-06-23,2018-06-18,76711229,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,70
17,18,2,2016-12-27,2016-12-26,72401748,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,21
18,19,2,2016-12-27,2016-12-26,72401746,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,21
19,20,2,2016-12-27,2016-12-26,72401744,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,21
20,21,2,2016-12-27,2016-12-26,72401747,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,21
21,22,2,2017-03-24,2017-02-20,73166680,330,Nuevo Banco De Santa Fe S,32537.38,D,0,None,B.De Irigoyen,25
22,23,6,2017-03-24,2017-03-27,1186678,11,Banco De La Nacion Argent,200000.00,D,0,None,Suardi,29
23,24,6,2017-03-24,2017-03-27,1186679,11,Banco De La Nacion Argent,281603.20,D,0,None,Suardi,29
24,25,2,2017-03-24,2017-02-14,10446,330,Nuevo Banco De Santa Fe S,36838.91,D,0,None,Bdo.De Irigoyen,30
25,26,2,2017-03-24,2017-02-14,10447,330,Nuevo Banco De Santa Fe S,36000.00,D,0,None,Bdo.De Irigoyen,30
26,27,2,2017-03-24,2017-02-14,10448,330,Nuevo Banco De Santa Fe S,36000.00,D,0,None,Bdo.De Irigoyen,30
27,28,2,2017-03-24,2017-11-21,527421,330,Nuevo Banco De Santa Fe S,47672.07,D,0,None,Bdo.De Irigoyen,31
28,29,2,2017-07-08,2017-07-10,74046845,330,Nuevo Banco De Santa Fe S,41611.96,D,0,None,B.De Irigoyen,36
29,30,2,2017-07-08,2017-07-10,74046843,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,36
30,31,2,2017-07-08,2017-07-10,74046842,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,36
31,32,2,2017-07-08,2017-07-10,74046844,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,36
32,33,2,2017-07-29,2017-07-10,74047207,330,Nuevo Banco De Santa Fe S,28000.00,D,0,None,Galvez,39
33,34,2,2017-07-29,2017-07-10,74047208,330,Nuevo Banco De Santa Fe S,28430.04,D,0,None,Galvez,39
34,35,2,2016-11-26,2016-07-11,70120569,330,Nuevo Banco De Santa Fe S,59202.93,D,0,None,Galvez,9
35,36,2,2016-11-26,2016-07-11,70120568,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,9
36,37,2,2016-11-26,2016-07-11,70120567,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,9
37,38,2,2016-11-26,2016-09-05,71038658,330,Nuevo Banco De Santa Fe S,21359.97,D,0,None,Galvez,10
38,39,2,2016-11-26,2016-10-03,71038660,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,10
39,40,2,2016-11-26,2016-10-03,71038659,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,10
40,41,2,2016-11-26,2016-10-03,71038661,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,10
41,42,2,2016-11-26,2016-10-03,71038662,330,Nuevo Banco De Santa Fe S,40360.00,D,0,None,Galvez,10
42,43,2,2016-12-17,2016-10-03,71709729,330,Nuevo Banco De Santa Fe S,40000.00,D,0,None,Galvez,17
43,44,2,2016-12-17,2016-10-03,71709730,330,Nuevo Banco De Santa Fe S,43326.80,D,0,None,Galvez,17
44,45,2,2016-12-17,2016-10-25,71709731,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,17
45,46,2,2016-12-17,2016-10-25,71709732,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,17
46,47,2,2016-12-17,2016-10-25,71709733,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,17
47,48,2,2016-12-17,2016-10-25,71709734,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,17
48,49,2,2016-12-17,2016-10-25,71709735,330,Nuevo Banco De Santa Fe S,37658.00,D,0,None,Galvez,17
49,50,2,2016-12-27,2016-12-26,72401749,330,Nuevo Banco De Santa Fe S,46068.08,D,0,None,Galvez,21
50,51,2,2016-12-27,2016-12-26,72401745,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,21
51,52,2,2017-09-30,2017-08-07,74750271,330,Nuevo Banco De Santa Fe S,42514.93,D,0,None,Galvez,42
52,53,2,2017-09-30,2017-09-06,74750637,330,Nuevo Banco De Santa Fe S,41908.68,D,0,None,Galvez,43
53,54,2,2017-09-30,2017-10-04,74750660,330,Nuevo Banco De Santa Fe S,38000.00,D,0,None,Galvez,44
54,55,2,2017-09-30,2017-10-04,74750661,330,Nuevo Banco De Santa Fe S,38000.00,D,0,None,Galvez,44
55,56,2,2017-09-30,2017-10-04,74750662,330,Nuevo Banco De Santa Fe S,38000.00,D,0,None,Galvez,44
56,57,2,2017-09-30,2017-10-04,74750663,330,Nuevo Banco De Santa Fe S,37655.30,D,0,None,Galvez,44
57,58,2,2017-11-28,2017-11-06,75396053,330,Nuevo Banco De Santa Fe S,45420.27,D,0,None,Galvez,46
58,59,2,2017-11-28,2017-11-06,75396052,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,46
59,60,2,2017-12-03,2017-11-06,75396052,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,48
60,61,2,2017-12-03,2017-11-06,75396053,330,Nuevo Banco De Santa Fe S,45420.27,D,0,None,Galvez,48
61,62,2,2017-12-23,2017-12-19,75396337,330,Nuevo Banco De Santa Fe S,55639.06,D,0,None,Galvez,50
62,63,2,2017-12-23,2017-12-19,75396335,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,50
63,64,2,2017-12-23,2017-12-19,75396334,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,50
64,65,2,2017-12-23,2017-12-19,75396336,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,50
65,66,2,2017-12-23,2017-12-05,79755,330,Nuevo Banco De Santa Fe S,22527.08,D,0,None,Galvez,51
66,67,2,2017-12-30,2017-12-26,75396704,330,Nuevo Banco De Santa Fe S,47693.74,D,0,None,Galvez,53
67,68,2,2017-12-30,2017-12-26,75396701,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,53
68,69,2,2018-06-23,2018-06-18,76711228,330,Nuevo Banco De Santa Fe S,48000.00,D,0,None,Galvez,70
69,70,2,2018-06-23,2018-06-18,76711230,330,Nuevo Banco De Santa Fe S,48912.63,D,0,None,Galvez,70
70,71,2,2018-07-11,2018-07-11,77394269,330,Nuevo Banco De Santa Fe S,42855.73,D,0,None,Galvez,71
71,72,2,2018-07-11,2018-07-11,77394268,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,71
72,73,2,2018-07-11,2018-07-11,77394267,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,71
73,74,2,2018-07-11,2018-07-11,77394266,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,71
74,75,2,2018-07-11,2018-07-11,77394265,330,Nuevo Banco De Santa Fe S,43000.00,D,0,None,Galvez,71
75,76,2,2018-07-04,2018-08-08,77394309,330,Nuevo Banco De Santa Fe S,46857.60,D,0,None,Galvez,73
76,77,2,2018-07-04,2018-08-08,77394307,330,Nuevo Banco De Santa Fe S,47000.00,D,0,None,Galvez,73
77,78,2,2018-07-04,2018-08-08,77394308,330,Nuevo Banco De Santa Fe S,47000.00,D,0,None,Galvez,73
78,79,2,2018-09-05,2018-09-05,78054430,330,Nuevo Banco De Santa Fe S,42239.70,D,0,None,Galvez,77
79,80,2,2018-09-05,2018-09-05,78054431,330,Nuevo Banco De Santa Fe S,42239.70,D,0,None,Galvez,77
80,81,2,2018-09-05,2018-09-05,78054432,330,Nuevo Banco De Santa Fe S,42239.70,D,0,None,Galvez,77
81,82,2,2018-09-29,2018-10-03,78054439,330,Nuevo Banco De Santa Fe S,40887.61,D,0,None,Galvez,79
82,83,2,2018-09-29,2018-10-03,78054440,330,Nuevo Banco De Santa Fe S,40887.61,D,0,None,Galvez,79
83,84,2,2018-09-29,2018-10-03,78054441,330,Nuevo Banco De Santa Fe S,40887.60,D,0,None,Galvez,79
84,85,2,2018-10-01,2018-10-01,78054797,330,Nuevo Banco De Santa Fe S,35000.00,D,0,None,Galvez,80
85,86,2,2016-11-05,2016-01-25,68575226,330,Nuevo Banco De Santa Fe S,48099.05,D,0,None,Galvez,1
86,87,2,2016-11-05,2016-01-25,68575225,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,1
87,88,2,2016-11-05,2016-01-25,68575224,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,1
88,89,2,2016-11-26,2016-03-21,69668559,330,Nuevo Banco De Santa Fe S,23895.82,D,0,None,Galvez,6
89,90,2,2016-11-26,2016-04-18,69668562,330,Nuevo Banco De Santa Fe S,59542.00,D,0,None,Galvez,6
90,91,2,2016-11-26,2016-04-18,69668561,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,6
91,92,2,2016-11-26,2016-04-18,69668560,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,6
92,93,2,2016-11-26,2016-05-16,70120074,330,Nuevo Banco De Santa Fe S,25731.53,D,0,None,Galvez,7
93,94,2,2016-11-26,2016-05-16,70120073,330,Nuevo Banco De Santa Fe S,25000.00,D,0,None,Galvez,7
94,95,2,2016-11-26,2016-05-27,70120211,330,Nuevo Banco De Santa Fe S,5271.89,D,0,None,Galvez,8
95,96,2,2018-10-01,2018-10-01,78054798,330,Nuevo Banco De Santa Fe S,35000.00,D,0,None,Galvez,80
96,97,2,2018-10-01,2018-10-01,78054799,330,Nuevo Banco De Santa Fe S,36188.19,D,0,None,Galvez,80
97,98,2,2018-10-27,2018-10-31,78055187,330,Nuevo Banco De Santa Fe S,50000.00,D,0,None,Galvez,84
98,99,2,2018-10-27,2018-10-31,78055188,330,Nuevo Banco De Santa Fe S,20332.67,D,0,None,Galvez,84
99,100,2,2018-12-29,2018-12-27,78552052,330,Nuevo Banco De Santa Fe S,39000.00,D,0,None,Galvez,85
100,101,2,2018-12-29,2018-12-27,78552053,330,Nuevo Banco De Santa Fe S,39836.52,D,0,None,Galvez,85
101,102,2,2018-12-29,2019-01-21,78552101,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,86
102,103,2,2018-12-29,2019-01-21,78552102,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,86
103,104,2,2018-12-29,2019-01-21,78552103,330,Nuevo Banco De Santa Fe S,45453.12,D,0,None,Galvez,86
104,105,2,2019-01-05,2018-11-26,78551626,330,Nuevo Banco De Santa Fe S,45000.00,D,0,None,Galvez,92
105,106,2,2019-01-05,2018-11-26,78551627,330,Nuevo Banco De Santa Fe S,44946.88,D,0,None,Galvez,92
106,107,2,2019-02-02,2019-01-21,78552460,330,Nuevo Banco De Santa Fe S,35116.70,D,0,None,Galvez,95

In [5]:
pendiente_pago = DataFrame(Pendpago.objects.values('importe')); pendiente_pago

     importe
0    1074.00
1    1161.00
2     665.00
3     665.00
4     732.00
5     665.00
6     589.25
7    1227.33
8    1299.67
9     422.66
10    423.99
11   1776.98
12   2576.64
13   2534.93
14   1238.43
15  15567.50
16  16011.32
17      7.26
18      7.26
19      0.00

In [6]:
pagos_pendientes = pendiente_pago.importe.sum(); pagos_pendientes

48645.22

### Bancos

In [37]:
libro_banco = DataFrame(Libroba.objects.values('identificacion', 'importe')); libro_banco

      identificacion   importe
0                  3     16.46
1                  3  36844.21
2                  3  43542.61
3                  3   1008.14
4                  3    211.71
...              ...       ...
1584               6  15567.50
1585               6  16011.32
1586               6  44165.00
1587               4     11.00
1588               4     12.00

[1589 rows x 2 columns]

In [23]:
gb = libro_banco.groupby(['identificacion'])
egresos = gb.get_group(1).importe.sum() + gb.get_group(3).importe.sum() + gb.get_group(6).importe.sum() + gb.get_group(7).importe.sum()
ingresos = gb.get_group(2).importe.sum() + gb.get_group(4).importe.sum()
saldo_banco = ingresos - egresos

### Cajas

In [42]:
gf = DataFrame(Gf.objects.values('i_o_e', 'importe')); gf

    i_o_e   importe
0       2   90000.0
1       2   90000.0
2       2   90000.0
3       2   90000.0
4       2   90000.0
5       2   90000.0
6       1   50000.0
7       1   25000.0
8       1   25000.0
9       2  150000.0
10      1      10.0

In [50]:
gb = gf.groupby(['i_o_e'])
egresos = gb.get_group(2).importe.sum()
ingresos = gb.get_group(1).importe.sum() + 1212 + 25000
saldo_cajas = ingresos - egresos; saldo_cajas

-563778.0

## Activo no corriente

### Tractores

In [53]:
tractores = DataFrame(Tractor.objects.values('costo_de_compra'))
tractores.costo_de_compra.sum()

1.0

### Maquinaria

In [55]:
maquinas = DataFrame(Maquina.objects.values('costo_de_compra'))
maquinas.costo_de_compra.sum()

80060.0

### Transporte

In [59]:
transporte = DataFrame(Transp.objects.values('costo_de_compra'))
transporte.costo_de_compra.sum()

11111.0

# Pasivos

## Pasivo Corriente

### Pendientes de pago

In [69]:
pendiente_pago = DataFrame(Pendpago.objects.values('importe'))

In [68]:
pagos_pendientes = pendiente_pago.importe.sum(); pagos_pendientes

48645.22

### Sueldos

Buscar el archivos de sueldos..
El sistema se traba cuando apreto nro_comprobante.. Probar sin eso y escribiendo el nro del proveedor a mano.

In [69]:
pendiente_pago = DataFrame(Pendpago.objects.values('importe'))

In [68]:
pagos_pendientes = pendiente_pago.importe.sum(); pagos_pendientes

48645.22

## Pasivo no Corriente

In [15]:
activos = {}
# Ganado
mov_gan = DataFrame(
    Movgan.objects.values('nro_novedad', 'fecha', 'entrada_salida',
                          'total'))
valor_ganado = mov_gan[mov_gan.entrada_salida == 1].total.sum()

# Silos
silos = DataFrame(Silos.objects.values())
silos['total'] = silos[["stock", "valor"]].product(axis=1)
valor_silos = silos.total.sum()

# Bolsas
bolsas = DataFrame(Bolsas.objects.values('costo'))
valor_bolsas = bolsas.costo.sum()

# Productos
productos = DataFrame(
    Producto.objects.values('descripcion', 'stock_unidades',
                            'precio_compra'))
productos['total'] = productos[["stock_unidades", "precio_compra"]].product(
    axis=1)
valor_productos = productos.total.sum()

# Cultivo
cultivo = DataFrame(Cultivo.objects.values('costo'))
valor_cultivo = cultivo.costo.sum()

# Saldo Banco
libro_banco = DataFrame(Libroba.objects.values('identificacion', 'importe'))
gb = libro_banco.groupby(['identificacion'])
ingresos = gb.get_group(2).importe.sum() + gb.get_group(4).importe.sum()
egresos = gb.get_group(1).importe.sum() + gb.get_group(
    3).importe.sum() + gb.get_group(6).importe.sum() + gb.get_group(
    7).importe.sum()
saldo_banco = ingresos - egresos

# Saldo Cajas
gf = DataFrame(Gf.objects.values('i_o_e', 'importe'))
gb = gf.groupby(['i_o_e'])
egresos = gb.get_group(2).importe.sum()
ingresos = gb.get_group(1).importe.sum() + 1212 + 25000
saldo_cajas = ingresos - egresos

# Documentos Pendientes de Cobro
pendiente_cobro = DataFrame(Pendcobro.objects.values('saldo'))
cobros_pendientes = pendiente_cobro.saldo.sum()

# Tractores
tractores = DataFrame(Tractor.objects.values('costo_de_compra'))
valor_tractores = tractores.costo_de_compra.sum()

# Maquinas
maquinas = DataFrame(Maquina.objects.values('costo_de_compra'))
valor_maquinas = maquinas.costo_de_compra.sum()

# Transporte
transporte = DataFrame(Transp.objects.values('costo_de_compra'))
valor_transporte = transporte.costo_de_compra.sum()

activos['categoria'] = ['Ganado', 'Silos', 'Bolsas', 'Productos',
                        'Cultivo', 'Banco', 'Cajas', 'Cobros Pendientes',
                        'Tractores', 'Maquinas', 'Transporte']
activos['importe'] = [valor_ganado, valor_silos, valor_bolsas,
                      valor_productos, valor_cultivo, saldo_banco,
                      saldo_cajas, cobros_pendientes, valor_tractores, \
                      valor_maquinas, valor_transporte]
df = DataFrame(activos)
df.sort_values('importe', ascending=False, inplace=True)
source = ColumnDataSource(df)

In [12]:
source.data

{'index': array([ 5,  9, 10,  7,  8,  3,  0,  1,  2,  4,  6]),
 'categoria': array(['Banco', 'Maquinas', 'Transporte', 'Cobros Pendientes',
        'Tractores', 'Productos', 'Ganado', 'Silos', 'Bolsas', 'Cultivo',
        'Cajas'], dtype=object),
 'importe': array([1411973.03, 1048060.  ,  782111.  ,  515245.53,  500000.  ,
         127378.  ,   56811.  ,   14044.  ,   12345.  ,    6800.  ,
        -562566.  ])}

In [13]:
tooltips = [('Categoría', '@{categoria}'),
            ("Importe", "@importe{$0,0.00}")]
hovertool = HoverTool(names=['vbar'], tooltips=tooltips)
plot = figure(x_range=FactorRange(*source.data['categoria'],
                                  bounds='auto'),
              y_range=Range1d(start=0,
                              end=max(source.data['importe']),
                              bounds='auto'),
              tools=["tap,reset,save,crosshair", hovertool],
              toolbar_location='above',
              x_axis_label='Categoría')
plot.vbar(
    x='categoria', top='importe', width=0.9, source=source,
    nonselection_fill_alpha=0.2, line_color=None, name='vbar')
# set_plot_properties(plot)
# plot.yaxis[0].formatter = NumeralTickFormatter(format="$0")
# if len(source.data['categoria']) > 6:
#     plot.xaxis[0].major_label_orientation = 0.3
plot.sizing_mode = 'stretch_width'
show(plot)