In [1]:
import os, sys
PWD = os.getenv('PWD')
os.chdir(PWD)
sys.path.insert(0, os.getenv('PWD'))
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "local_settings.py")
import django
django.setup()

In [2]:
from datetime import datetime, timedelta
from pandas import DataFrame, to_datetime, set_option
from TpsParse.Tps.TpsFile import TpsFile
import os
from numpy import quantile, nan
from math import ceil
import pandas as pd

set_option('display.max_columns', 500)
set_option('display.max_row', 1000)

from bokeh.resources import CDN
from bokeh.embed import components
from bokeh.models import Range1d, NumeralTickFormatter, ColumnDataSource, FactorRange, HoverTool, \
DataRange1d, DatetimeTickFormatter
from bokeh.plotting import figure
from bokeh.transform import linear_cmap, factor_cmap
from bokeh.io import show, output_notebook
from bokeh.palettes import Category20_20

from django.db.models import Sum, DateField
from django.db.models.functions import Trunc
from Utils.clean_string import clean_string

output_notebook()

In [3]:
def parser(path):
    file = open(path, "r+b")
    tps = TpsFile(file)

    cols_and_type = []
    columns = []
    records = []
    for definition in tps.get_table_definitions():
        for field in definition.fields:
            column = field.field_name.split(':')[1].lower()
            col_and_type = (field.field_name.split(':')[1].lower(), field.type)
            if column not in columns:
                columns.append(column)
                cols_and_type.append(col_and_type)
        for record in tps.get_data_records(definition):
            records.append([r.strip().title() if isinstance(r, str) else r for r in record.values])

    table = []
    for record in records:
        dic = {}
        for col, rec in zip(columns, record):
            dic[col] = rec
        table.append(dic)

    df = DataFrame(table, columns=columns)

    name_list = ('fec', 'periodo')
    # Formatear la fecha.
    date_columns = [cname for cname, ctype in cols_and_type if cname.startswith(name_list) and ctype == 'SignedLong']
    for col in df[date_columns]:
        df[col] = datetime(1800, 12, 28) + df[col].map(timedelta)
        df.loc[df[col] == '1800-12-28', col] = None

    # Reemplazar los campos vacíos con None.
    df.replace(to_replace='', value=nan, inplace=True)
    df.replace(to_replace=0, value=None, inplace=True)
    
    # Borrar los registros que tengan todos valores nulos.
    df.dropna(axis='index', how='all', inplace=True)
    
    # Eliminar registros duplicados.
    df.drop_duplicates(keep='last', inplace=True)
    
    # Borrar las columnas que tengan todos valores nulos o ceros.
    df.dropna(axis='columns', how='all', inplace=True)
    df = df.loc[:, (df != 0).any(axis=0)]
    
    return df

In [4]:
path = "/home/wen/Documentos/Proyecto/Datos Agrosoft/CTA_CTE.TPS"
df = parser(path);df

,tipo_movim,cod_proveedor,fecha_comprob,nro_comprob,importe,periodo_contable,prefijo,tipo_comprobante
0,1,34,2011-11-24,241111,520.00,2011-11-24,0,NaN
1,1,34,2011-11-24,241111,36.15,2011-11-24,0,NaN
2,1,34,2011-10-13,131011,47.24,2011-10-13,0,NaN
3,1,35,2011-12-30,934,5327.26,2011-12-30,0,NaN
4,1,35,2011-12-30,236,11381.00,2011-12-30,0,NaN
5,1,36,2011-11-21,21705,687.25,2011-12-30,0,NaN
6,1,17,2011-12-04,153285,100.00,2011-12-30,0,NaN
7,1,17,2011-11-18,152576,100.00,2011-12-30,0,NaN
8,1,17,2011-12-31,154750,218.00,2011-12-31,0,NaN
9,1,17,2011-12-06,153347,100.00,2011-12-31,0,NaN
10,1,17,2011-12-07,153507,200.00,2011-12-31,0,NaN
11,1,17,2011-12-12,153688,200.00,2011-12-31,0,NaN
12,1,17,2011-11-14,152264,110.21,2011-12-31,0,NaN
13,1,17,2011-11-17,152482,135.00,2011-12-31,0,NaN
14,1,15,2011-12-30,1261,9271.02,2011-12-31,0,NaN
15,1,37,2011-10-15,90,7394.00,2011-12-31,0,NaN
16,1,37,2011-09-15,88,7306.00,2011-12-31,0,NaN
17,1,38,2011-11-18,74,5915.00,2011-12-31,0,NaN
18,1,39,2011-12-15,116,3660.80,2011-12-31,0,NaN
19,1,39,2011-11-15,112,3660.80,2011-12-31,0,NaN
20,1,39,2011-10-15,107,3660.80,2011-12-31,0,NaN
21,1,39,2011-09-15,100,3660.80,2011-12-31,0,NaN
22,1,39,2011-08-15,99,3660.80,2011-12-31,0,NaN
23,1,39,2011-07-15,95,3660.80,2011-12-31,0,NaN
24,1,20,2011-11-15,48471,809.05,2011-11-30,0,NaN
25,1,20,2011-11-25,48552,4217.48,2011-11-30,0,NaN
26,1,20,2011-11-29,48567,1471.84,2011-11-30,0,NaN
27,1,24,2011-11-30,1750,248.05,2011-11-30,0,NaN
28,4,25,2011-11-15,18996,9344.91,2011-11-30,0,NaN
29,1,26,2011-11-30,81,13022.00,2011-11-30,0,NaN
30,1,27,2011-11-20,351,46252.27,2011-11-30,0,NaN
31,1,27,2011-11-28,352,15730.00,2011-11-30,0,NaN
32,1,28,2011-10-24,24102011,1098.00,2011-11-30,0,NaN
33,1,32,2011-11-15,37,14300.00,2011-11-30,0,NaN
34,1,30,2011-11-15,82,14300.00,2011-11-30,0,NaN
35,1,31,2011-11-30,38,10000.00,2011-11-30,0,NaN
36,1,28,2011-11-06,6112011,211.00,2011-11-30,0,NaN
37,1,28,2011-11-15,15112011,73.00,2011-11-30,0,NaN
38,1,29,2011-11-23,3586,30.00,2011-11-30,0,NaN
39,1,17,2011-11-30,3763,6413.82,2011-11-30,0,NaN
40,1,17,2011-11-30,3762,5032.58,2011-11-30,0,NaN
41,1,17,2011-11-30,3766,373.99,2011-11-30,0,NaN
42,1,17,2011-11-30,3765,455.54,2011-11-30,0,NaN
43,1,17,2011-11-30,3767,165.01,2011-11-30,0,NaN
45,2,33,2011-11-17,171111,594.74,NaT,0,NaN
46,1,33,2011-11-17,171111,594.74,2011-11-30,0,NaN
47,1,4,2011-10-25,19470,707.09,2011-11-30,0,NaN
48,1,13,2011-11-11,1139,8116.68,2011-11-30,0,NaN
49,5,14,2014-06-17,2027,18000.00,NaT,0,NaN
50,5,38,2014-06-20,2028,9870.00,NaT,0,NaN
51,5,172,2014-06-19,2029,8000.00,NaT,0,NaN
52,5,121,2014-06-19,2030,4654.10,NaT,0,NaN
53,5,37,2014-06-20,2031,12337.50,NaT,0,NaN
54,5,281,2014-06-12,2032,30000.00,NaT,0,NaN
55,5,281,2014-06-18,2033,50000.00,NaT,0,NaN
56,5,281,2014-06-19,2034,50000.00,NaT,0,NaN
57,5,104,2014-06-10,2035,2500.00,NaT,0,NaN
58,5,104,2014-06-17,2036,4136.80,NaT,0,NaN
59,5,281,2014-06-18,2038,9480.00,NaT,0,NaN
60,1,30,2014-06-15,113,25050.50,2014-06-30,1,3
61,1,32,2014-06-15,68,25050.50,2014-06-30,1,3
62,5,30,2014-06-23,2039,25050.50,NaT,0,NaN
63,5,32,2014-06-23,2040,25050.50,NaT,0,NaN
64,5,106,2014-06-24,2041,4372.71,NaT,0,NaN
65,5,12,2014-05-19,2042,8729.20,NaT,0,NaN
66,5,12,2014-12-18,2043,6280.00,NaT,0,NaN
67,5,12,2013-12-18,2044,6280.00,NaT,0,NaN
68,5,12,2013-11-21,2045,5800.00,NaT,0,NaN
69,1,15,2014-06-30,1740,8385.30,2014-06-30,1,1
70,5,105,2014-01-07,2046,5878.05,NaT,0,NaN
71,1,106,2013-02-13,2,4170.50,2013-02-28,0,4
72,5,106,2014-01-07,2047,6284.65,NaT,0,NaN
73,5,104,2014-01-07,2048,5994.20,NaT,0,NaN
74,5,106,2014-02-14,2049,4333.40,NaT,0,NaN
75,5,104,2014-02-14,2050,4136.80,NaT,0,NaN
76,5,105,2014-02-14,2051,4097.49,NaT,0,NaN
77,1,105,2014-01-01,0,4097.49,2014-01-01,0,NaN
78,1,105,2014-02-01,0,4350.68,2014-02-01,0,NaN
79,1,106,2014-02-01,0,4735.46,2014-02-01,0,NaN
80,1,104,2014-02-01,0,4392.55,2014-02-01,0,NaN
81,5,106,2014-03-06,2052,4735.46,NaT,0,NaN
82,5,104,2014-03-06,2053,4392.55,NaT,0,NaN
83,5,105,2014-03-06,2054,4350.68,NaT,0,NaN
84,1,106,2014-03-01,0,4333.40,2014-03-01,0,NaN
85,1,104,2014-03-01,0,4136.80,2014-03-01,0,NaN
86,1,105,2014-03-01,0,4097.49,2014-03-01,0,NaN
87,5,106,2014-04-09,2055,4333.40,NaT,0,NaN
88,5,104,2014-04-09,2056,4136.80,NaT,0,NaN
89,5,105,2014-04-09,2057,4097.49,NaT,0,NaN
90,1,126,2015-06-25,14574,1453.53,2015-06-30,0,4
91,5,126,2015-06-25,2864,20995.88,NaT,0,NaN
92,5,17,2015-06-30,2865,11485.04,NaT,0,NaN
93,5,373,2015-06-25,2866,9480.00,NaT,0,NaN
94,5,15,2015-06-27,2867,34956.90,NaT,0,NaN
95,5,78,2015-06-27,2868,4613.32,NaT,0,NaN
96,5,14,2015-06-20,2869,1989.00,NaT,0,NaN
97,5,4,2015-06-27,2870,4338.33,NaT,0,NaN
98,5,146,2015-06-18,2871,7320.50,NaT,0,NaN
99,5,121,2015-06-20,2872,7717.00,NaT,0,NaN
100,5,367,2015-06-25,2873,3000.00,NaT,0,NaN
101,5,364,2015-06-25,2874,2500.00,NaT,0,NaN
102,5,3,2015-06-27,2875,1697.81,NaT,0,NaN
103,5,190,2015-06-20,2876,1887.60,NaT,0,NaN
104,5,174,2015-06-19,2877,7680.00,NaT,0,NaN
105,5,219,2015-06-16,2878,21600.00,NaT,0,NaN
106,5,281,2015-06-29,2879,49000.00,NaT,0,NaN
107,5,281,2015-06-09,2880,15000.00,NaT,0,NaN
108,5,281,2015-06-15,2881,10000.00,NaT,0,NaN
109,5,106,2015-06-09,2882,5977.78,NaT,0,NaN
110,5,105,2015-06-09,2883,5341.49,NaT,0,NaN
111,5,104,2015-06-09,2884,5392.40,NaT,0,NaN
112,5,32,2015-06-25,2885,10132.15,NaT,0,NaN
113,5,30,2015-06-25,2886,10132.15,NaT,0,NaN
114,5,32,2015-06-17,2887,10132.15,NaT,0,NaN
115,5,30,2015-06-17,2888,10132.15,NaT,0,NaN
116,5,12,2015-06-17,2889,14601.00,NaT,0,NaN
117,5,10,2015-06-17,2890,11800.00,NaT,0,NaN
118,5,14,2015-06-18,2891,45337.60,NaT,0,NaN
119,5,14,2015-06-18,2892,22186.96,NaT,0,NaN
120,5,3,2015-06-18,2893,1176.00,NaT,0,NaN
121,5,82,2015-06-19,2894,804.64,NaT,0,NaN
122,5,38,2015-06-20,2895,9396.00,NaT,0,NaN
123,5,37,2015-06-20,2896,11745.00,NaT,0,NaN
124,5,281,2015-07-01,2897,25000.00,NaT,0,NaN
125,5,115,2015-06-27,2898,1233.90,NaT,0,NaN
126,1,28,2015-05-27,239656,1499.00,2015-06-01,0,1
127,5,28,2015-06-27,2899,1499.00,NaT,0,NaN
128,1,372,2015-07-06,25,1800.00,2015-07-31,2,3
129,1,221,2015-07-15,7,9427.95,2015-07-31,1,3
130,1,10,2015-07-02,100,11480.00,2015-07-31,2,3
131,2,304,2015-07-13,1498769,8.00,NaT,0,NaN
132,2,77,2015-07-06,204,471.54,NaT,0,NaN
133,5,37,2016-03-24,3462,13566.00,NaT,0,NaN
134,5,38,2016-03-24,3463,10852.80,NaT,0,NaN
135,5,372,2016-03-24,3464,2120.00,NaT,0,NaN
136,5,174,2016-03-18,3465,5331.20,NaT,0,NaN
137,5,190,2016-03-19,3466,1495.50,NaT,0,NaN
138,5,221,2016-03-22,3467,7818.30,NaT,0,NaN
139,1,85,2016-03-31,871,10763.35,2016-03-31,55,NaN
140,1,85,2016-03-31,870,10499.45,2016-03-31,55,NaN
141,5,367,2016-03-26,3468,3400.00,NaT,0,NaN
142,5,374,2016-03-31,3469,1500.00,NaT,0,NaN
143,5,365,2016-03-23,3470,3400.00,NaT,0,NaN
144,5,364,2016-03-23,3471,2500.00,NaT,0,NaN
145,5,105,2016-03-22,3472,4277.00,NaT,0,NaN
146,5,106,2016-03-15,3473,4277.00,NaT,0,NaN
147,1,101,2016-03-24,215,4250.00,2016-03-31,3,1
148,5,101,2016-02-28,3475,4250.00,NaT,0,NaN
149,5,3,2016-03-23,3476,1330.93,NaT,0,NaN
150,5,78,2016-04-27,3477,8845.00,NaT,0,NaN
151,5,423,2016-03-21,3478,2600.00,NaT,0,NaN
152,5,142,2016-03-21,3479,720.00,NaT,0,NaN
153,5,4,2016-04-29,3480,7689.68,NaT,0,NaN
154,5,54,2016-03-30,3481,29781.97,NaT,0,NaN
155,5,121,2016-03-29,3482,4054.00,NaT,0,NaN
156,5,141,2016-02-27,3483,2710.00,NaT,0,NaN
157,5,106,2016-03-10,3484,7922.87,NaT,0,NaN
158,5,105,2016-03-10,3485,7140.81,NaT,0,NaN
159,5,104,2016-03-10,3486,7208.80,NaT,0,NaN
160,5,30,2016-03-18,3487,14954.10,NaT,0,NaN
161,5,32,2016-03-18,3488,14954.10,NaT,0,NaN
162,5,10,2016-03-21,3489,9044.00,NaT,0,NaN
163,5,14,2016-03-23,3490,13333.48,NaT,0,NaN
164,5,14,2016-03-23,3491,31499.78,NaT,0,NaN
165,5,14,2016-03-23,3492,15733.30,NaT,0,NaN
166,5,14,2016-03-23,3493,1492.26,NaT,0,NaN
167,1,14,2016-04-01,33,24371.20,2016-04-30,2,1
168,1,14,2016-04-01,34,33510.40,2016-04-30,2,NaN
169,1,14,2016-04-06,35,15779.40,2016-04-30,2,NaN
170,1,14,2016-04-11,36,1577.94,2016-04-30,2,NaN
171,5,14,2016-03-23,3494,10160.60,NaT,0,NaN
172,1,126,2016-03-31,38777,31157.33,2016-03-31,0,NaN
173,1,28,2016-02-29,239656,1624.00,2016-03-01,0,1
174,2,224,2013-09-18,157,1114.50,NaT,0,NaN
175,2,10,2013-09-03,13,3940.00,NaT,0,NaN
176,2,215,2013-08-31,3101,284.00,NaT,0,NaN
177,1,176,2013-09-15,14537309,14374.60,2013-09-15,0,NaN
178,2,150,2013-09-12,15234,217.80,NaT,0,NaN
179,2,70,2013-09-26,26092013,1982.26,NaT,0,NaN
180,2,3,2013-09-02,15947,3040.25,NaT,0,NaN
181,2,4,2013-07-04,21952,141.26,NaT,0,NaN
182,2,43,2013-09-14,62,3500.00,NaT,0,NaN
183,5,3,2013-01-01,1455,1.00,NaT,0,NaN
184,5,5,2013-01-01,1456,1392.00,NaT,0,NaN
185,5,7,2011-10-25,1457,350.00,NaT,0,NaN
186,5,8,2012-08-01,1458,1200.00,NaT,0,NaN
187,5,12,2013-01-01,1459,31014.16,NaT,0,NaN
188,5,12,2013-02-20,1460,5507.56,NaT,0,NaN
189,5,12,2013-03-24,1461,5589.20,NaT,0,NaN
190,5,13,2013-01-01,1462,35385.34,NaT,0,NaN
191,5,4,2013-01-01,1463,19650.75,NaT,0,NaN
192,1,4,2013-04-15,21625,1401.32,2013-04-15,0,NaN
193,1,4,2013-04-10,21602,2129.60,2013-04-10,0,NaN
194,1,4,2013-04-13,21621,1214.24,2013-04-13,0,NaN
195,1,4,2013-04-25,21704,3849.01,2013-04-25,0,NaN
196,2,4,2013-05-02,21714,176.01,NaT,0,NaN
197,1,4,2013-02-19,21399,1592.34,2013-02-19,0,NaN
198,1,4,2013-02-09,21356,1149.00,2013-02-09,0,NaN
199,1,4,2013-02-02,21333,2129.60,2013-02-02,0,NaN
200,1,4,2013-02-07,21346,6110.50,2013-02-07,0,NaN
201,5,4,2013-01-01,1465,8145.85,NaT,0,NaN
202,2,17,2013-10-24,33582,300.00,NaT,0,NaN
203,2,17,2013-10-04,32413,200.00,NaT,0,NaN
204,2,17,2013-08-16,29646,200.00,NaT,0,NaN
205,2,279,2013-10-02,4323,114.77,NaT,0,NaN
206,2,17,2013-09-14,31299,100.00,NaT,0,NaN
207,2,17,2013-09-20,32100,200.00,NaT,0,NaN
208,2,17,2013-09-23,31747,100.00,NaT,0,NaN
209,2,17,2013-08-28,30334,100.00,NaT,0,NaN
210,2,17,2013-10-26,33696,200.00,NaT,0,NaN
211,2,17,2013-10-17,33132,200.00,NaT,0,NaN
212,2,17,2013-10-13,32956,213.00,NaT,0,NaN
213,2,17,2013-09-08,30913,100.00,NaT,0,NaN
214,2,17,2013-09-20,31590,200.00,NaT,0,NaN
215,1,131,2013-10-26,135,31503.55,2013-10-31,1,1
216,5,286,2013-09-24,1622,10510.24,NaT,0,NaN
217,5,286,2013-10-07,1623,7440.00,NaT,0,NaN
218,5,286,2013-11-12,1624,29958.15,NaT,0,NaN
219,5,286,2013-11-29,1625,57436.51,NaT,0,NaN
220,5,286,2013-12-18,1626,68199.74,NaT,0,NaN
221,5,286,2014-01-14,1627,29758.28,NaT,0,NaN
222,5,286,2013-07-23,1628,16374.95,NaT,0,NaN
223,1,106,2014-01-07,0,6284.65,2014-01-07,0,NaN
224,1,105,2014-01-07,0,5878.05,2014-01-07,0,NaN
225,1,104,2014-01-07,0,5994.20,2014-01-07,0,NaN
226,1,286,2014-01-03,37669,8340.88,2014-01-31,42,1
227,1,101,2014-01-09,3601,5139.99,2014-01-31,1,1
228,2,302,2014-01-17,3238,121.00,NaT,0,NaN
229,2,303,2014-01-22,13,1200.32,NaT,0,NaN
230,1,11,2014-01-20,347,17856.80,2014-01-31,1,1
231,5,11,2014-01-20,1634,17856.80,NaT,0,NaN
232,1,60,2013-12-30,9909,699.81,2013-12-31,3,1
233,5,60,2014-01-17,1635,699.81,NaT,0,NaN
234,1,181,2014-01-14,664,2468.76,2014-01-31,1,1
235,5,181,2014-01-20,1638,2468.76,NaT,0,NaN
236,1,219,2014-01-17,126,7920.00,2014-01-31,1,3
237,5,219,2014-01-17,1639,7920.00,NaT,0,NaN
238,2,78,2013-12-17,456,462.22,NaT,0,NaN
239,1,178,2013-12-31,26528,442.69,2013-12-31,0,1
240,1,178,2013-12-31,26533,402.47,2013-12-31,0,1
241,5,178,2014-01-21,1641,845.16,NaT,0,NaN
242,1,37,2013-11-15,138,8750.00,2013-11-30,1,3
243,1,10,2014-01-03,28,4400.00,2014-01-31,1,3
244,5,37,2013-12-20,1642,8750.00,NaT,0,NaN
245,5,10,2014-01-17,1643,4400.00,NaT,0,NaN
246,1,66,2014-01-25,9209,147.70,2014-01-31,10,1
247,4,66,2014-01-28,427,26.43,2014-01-31,10,1
248,5,66,2014-01-28,1644,121.27,NaT,0,NaN
249,1,167,2014-01-20,11947,2905.00,2014-01-31,2,1
250,5,167,2014-01-20,1645,2905.00,NaT,0,NaN
251,2,3,2014-01-13,16579,290.11,NaT,0,NaN
252,1,19,2014-01-14,2190,3058.93,2014-01-31,4,1
253,1,28,2016-09-26,239656,1602.00,2016-09-30,0,NaN
254,5,28,2016-10-25,3943,1602.00,NaT,0,NaN
255,1,126,2016-09-28,16350,26063.44,2016-09-30,0,4
256,5,126,2016-10-04,3947,200000.00,NaT,0,NaN
257,1,126,2016-10-04,16513,3285.68,2016-10-31,0,4
258,1,442,2016-10-04,21146,293700.00,2016-10-31,1,4
259,1,336,2016-10-07,1429,5329.00,2016-10-31,1,3
260,5,190,2016-10-21,3950,2916.80,NaT,0,NaN
261,5,221,2016-10-20,3951,7818.30,NaT,0,NaN
262,5,219,2016-10-18,3952,14400.00,NaT,0,NaN
263,5,364,2016-10-18,3953,2500.00,NaT,0,NaN
264,5,365,2016-10-18,3954,4000.00,NaT,0,NaN
265,5,142,2016-10-18,3955,980.00,NaT,0,NaN
266,5,106,2016-10-17,3956,4277.00,NaT,0,NaN
267,5,367,2016-10-14,3957,4000.00,NaT,0,NaN
268,5,374,2016-10-14,3958,2000.00,NaT,0,NaN
269,5,38,2016-10-22,3959,8160.00,NaT,0,NaN
270,5,366,2016-10-11,3960,300.00,NaT,0,NaN
271,5,37,2016-10-22,3961,10200.00,NaT,0,NaN
272,5,423,2016-10-12,3962,1200.00,NaT,0,NaN
273,5,216,2016-10-31,3963,899.94,NaT,0,NaN
274,5,85,2016-10-15,3964,754.00,NaT,0,NaN
275,5,172,2016-03-10,3965,3000.00,NaT,0,NaN
276,5,281,2016-10-04,3966,25000.00,NaT,0,NaN
277,5,281,2016-10-07,3967,11000.00,NaT,0,NaN
278,5,106,2016-10-06,3968,9735.77,NaT,0,NaN
279,5,105,2016-10-06,3969,8851.69,NaT,0,NaN
280,5,104,2016-10-06,3970,8987.69,NaT,0,NaN
281,5,32,2016-10-06,3971,11192.00,NaT,0,NaN
282,5,30,2016-10-14,3972,25237.50,NaT,0,NaN
283,5,32,2016-10-17,3973,25237.50,NaT,0,NaN
284,5,10,2016-10-17,3974,9860.00,NaT,0,NaN
285,1,315,2016-08-01,1082016,14585.14,2016-08-31,0,4
286,1,315,2016-09-01,1092016,14257.68,2016-09-30,0,4
287,5,315,2016-10-18,3975,14585.14,NaT,0,NaN
288,5,315,2016-10-18,3976,14257.68,NaT,0,NaN
289,5,14,2016-10-20,3977,4942.39,NaT,0,NaN
290,5,14,2016-10-20,3978,56320.00,NaT,0,NaN
291,5,14,2016-10-20,3979,26520.00,NaT,0,NaN
292,5,14,2016-10-20,3980,2652.00,NaT,0,NaN
293,5,346,2016-09-06,3982,489.91,NaT,0,NaN
294,5,346,2016-10-06,3983,489.91,NaT,0,NaN
295,2,196,2013-06-13,48,944.60,NaT,0,NaN
296,2,195,2013-04-18,55,551.39,NaT,0,NaN
297,2,195,2013-05-02,58,679.17,NaT,0,NaN
298,2,199,2013-05-17,313,384.99,NaT,0,NaN
299,1,202,2013-05-02,149,1897.84,2013-05-02,0,NaN
300,5,202,2013-05-02,934,1897.84,NaT,0,NaN
301,2,203,2013-05-03,737,778.01,NaT,0,NaN
302,2,194,2013-05-24,527,3499.01,NaT,0,NaN
303,2,45,2013-05-02,18884,6106.56,NaT,0,NaN
304,1,11,2013-05-21,311,14091.52,2013-05-21,0,NaN
305,1,200,2013-05-31,4395,9112.75,2013-05-31,0,NaN
306,1,55,2013-04-30,23435,23655.29,2013-04-30,0,NaN
307,1,15,2013-04-30,1588,19134.94,2013-04-30,0,NaN
308,1,15,2013-05-30,1598,6388.80,2013-05-30,0,NaN
309,5,15,2013-05-30,938,25523.74,NaT,0,NaN
310,5,11,2013-05-21,939,14091.52,NaT,0,NaN
311,3,18,2013-04-22,5008,365.06,2013-05-22,0,NaN
312,3,18,2013-04-19,4996,8329.57,2013-05-19,0,NaN
313,3,18,2013-05-15,5134,354.38,2013-05-15,0,NaN
314,3,18,2013-05-15,5133,729.40,2013-05-15,0,NaN
315,3,18,2013-04-22,5006,3785.10,2013-05-22,0,NaN
316,1,18,2013-04-19,14461910,12803.83,2013-05-19,0,NaN
317,2,213,2013-04-17,43,5939.82,NaT,0,NaN
318,2,214,2013-04-26,7178,619.02,NaT,0,NaN
319,2,214,2013-04-26,7179,3500.00,NaT,0,NaN
320,2,215,2013-05-03,1863,3999.00,NaT,0,NaN
321,2,212,2013-05-16,2944,370.00,NaT,0,NaN
323,2,70,2012-09-10,32012,409.50,NaT,0,NaN
325,2,216,2013-06-12,13004,300.08,NaT,0,NaN
326,2,17,2013-06-24,26633,220.00,NaT,0,NaN
327,2,17,2013-05-02,23631,140.00,NaT,0,NaN
328,2,17,2013-05-05,23822,125.00,NaT,0,NaN
329,2,17,2013-05-07,23949,150.00,NaT,0,NaN
330,2,17,2013-05-11,24225,140.00,NaT,0,NaN
331,2,17,2013-05-17,24533,150.00,NaT,0,NaN
332,5,136,2014-04-10,1907,579.90,NaT,0,NaN
333,5,82,2014-03-17,1908,1165.74,NaT,0,NaN
334,5,146,2014-03-20,1909,11216.70,NaT,0,NaN
335,5,121,2014-03-27,1910,19937.44,NaT,0,NaN
336,5,190,2014-04-09,1912,2472.75,NaT,0,NaN
337,5,331,2014-03-20,1913,1300.00,NaT,0,NaN
338,5,18,2014-03-26,1914,28042.00,NaT,0,NaN
339,1,332,2014-03-20,1,1300.00,2014-04-01,1,4
340,5,332,2014-04-20,1915,1300.00,NaT,0,NaN
341,5,16,2014-03-24,1916,2500.00,NaT,0,NaN
342,5,163,2014-03-27,1917,5958.04,NaT,0,NaN
343,1,333,2014-05-09,952014,50000.00,2014-05-31,1,4
344,1,65,2014-04-23,14293,60956.69,2014-04-30,1,1
345,5,65,2014-05-07,1920,60956.69,NaT,0,NaN
346,1,6,2014-05-03,14203,1960.20,2014-05-31,1,1
347,1,6,2014-05-03,352014,6216.32,2014-05-31,1,4
348,1,6,2014-05-03,352014,316.17,2014-05-31,1,4
349,1,6,2014-05-03,352014,570.00,2014-05-31,1,4
350,5,6,2014-05-09,1921,9062.69,NaT,0,NaN
351,1,331,2014-05-12,19,3150.00,2014-05-31,1,3
352,1,224,2014-05-08,267,1393.00,2014-05-31,2,NaN
353,1,4,2014-04-22,23053,2313.09,2014-04-30,1,NaN
354,1,4,2014-04-26,23070,302.50,2014-04-30,1,NaN
355,5,4,2014-05-12,1922,2615.59,NaT,0,NaN
356,1,146,2014-05-07,387,5687.00,2014-05-31,1,1
357,5,146,2014-05-12,1923,5687.00,NaT,0,NaN
358,5,224,2014-05-12,1924,1393.00,NaT,0,NaN
359,2,142,2014-04-21,1234,120.00,NaT,0,NaN
360,1,5,2014-04-23,1969,992.20,2014-04-30,1,1
361,5,5,2014-05-12,1926,992.20,NaT,0,NaN
362,1,128,2014-05-07,29170,4672.45,2014-05-31,5,1
363,5,128,2014-05-12,1927,4672.45,NaT,0,NaN
364,2,22,2014-04-30,36912,93.30,NaT,0,NaN
365,2,335,2014-04-23,8498,437.98,NaT,0,NaN
366,5,43,2014-05-20,1931,855.00,NaT,0,NaN
367,1,6,2014-04-04,14121,1960.20,2014-04-30,1,1
368,1,6,2014-04-04,4042014,550.00,2014-04-30,1,NaN
369,1,6,2014-04-04,14121,8119.65,2014-04-30,1,4
370,1,6,2014-04-04,4042014,316.17,2014-04-30,1,NaN
371,5,151,2014-07-26,2085,2904.00,NaT,0,NaN
372,1,209,2014-07-03,42713,339.77,2014-07-31,27,1
373,5,209,2014-07-10,2086,339.77,NaT,0,NaN
374,2,89,2014-07-24,136462,500.00,NaT,0,NaN
375,1,17,2014-07-23,8340,18910.45,2014-07-31,4,1
376,5,17,2014-07-23,2088,18910.45,NaT,0,NaN
377,1,112,2014-07-24,13807,6982.30,2014-07-31,2,1
378,4,112,2014-07-24,5556,310.00,2014-07-31,3,NaN
379,5,13,2014-05-27,2089,35859.56,NaT,0,NaN
380,5,224,2014-07-18,2090,1379.40,NaT,0,NaN
381,5,281,2014-07-03,2091,20000.00,NaT,0,NaN
382,5,281,2014-07-04,2092,50000.00,NaT,0,NaN
383,5,281,2014-07-07,2093,89773.43,NaT,0,NaN
384,5,172,2014-07-02,2094,9000.00,NaT,0,NaN
385,5,119,2014-07-02,2095,2060.00,NaT,0,NaN
386,5,281,2014-07-03,2096,30000.00,NaT,0,NaN
387,5,281,2014-07-07,2097,40000.00,NaT,0,NaN
388,5,281,2014-07-15,2098,40000.00,NaT,0,NaN
389,5,12,2014-07-15,2099,8813.98,NaT,0,NaN
390,5,174,2014-07-17,2100,7321.60,NaT,0,NaN
391,1,126,2014-07-12,1,1582.21,2014-07-01,0,NaN
392,5,126,2014-07-12,2101,1582.21,NaT,0,NaN
393,5,15,2014-07-10,2102,60000.00,NaT,0,NaN
394,5,14,2014-07-23,2103,102656.64,NaT,0,NaN
395,5,14,2014-07-23,2104,39705.60,NaT,0,NaN
396,5,14,2014-07-23,2105,39705.60,NaT,0,NaN
397,5,14,2014-07-23,2106,34002.24,NaT,0,NaN
398,5,43,2014-07-17,2107,2531.00,NaT,0,NaN
399,5,14,2014-07-23,2108,34483.52,NaT,0,NaN
400,5,14,2014-07-23,2110,18300.00,NaT,0,NaN
401,5,219,2014-07-21,2111,10296.00,NaT,0,NaN
402,1,126,2014-07-30,13424,7706.28,2014-07-31,0,4
403,5,126,2014-07-30,2112,7706.28,NaT,0,NaN
404,1,28,2014-06-25,239656,1584.00,2014-07-01,0,1
405,5,28,2014-07-29,2113,1584.00,NaT,0,NaN
406,5,14,2014-07-23,2114,34308.00,NaT,0,NaN
407,5,14,2014-07-23,2115,34308.00,NaT,0,NaN
408,5,14,2014-07-23,2116,34308.00,NaT,0,NaN
409,5,141,2014-07-26,2117,2958.00,NaT,0,NaN
410,5,38,2014-07-18,2118,9933.00,NaT,0,NaN
411,5,11,2014-07-26,2119,22680.56,NaT,0,NaN
412,5,190,2014-07-18,2120,2698.90,NaT,0,NaN
413,5,141,2017-04-29,4319,1500.00,NaT,0,NaN
414,5,219,2017-04-19,4320,16920.00,NaT,0,NaN
415,5,221,2017-04-22,4321,10293.00,NaT,0,NaN
416,5,85,2017-04-20,4322,21970.00,NaT,0,NaN
417,5,442,2017-04-19,4323,18597.05,NaT,0,NaN
418,5,126,2017-04-24,4324,14373.10,NaT,0,NaN
419,5,372,2017-04-23,4325,3052.00,NaT,0,NaN
420,5,104,2017-04-19,4326,5774.00,NaT,0,NaN
421,5,221,2017-04-22,4327,10512.00,NaT,0,NaN
422,5,219,2017-04-19,4328,17280.00,NaT,0,NaN
423,5,174,2017-04-20,4329,11308.80,NaT,0,NaN
424,5,190,2017-04-20,4330,2194.34,NaT,0,NaN
425,5,37,2017-04-20,4331,9885.00,NaT,0,NaN
426,5,38,2017-04-20,4332,7908.00,NaT,0,NaN
427,5,17,2017-04-28,4333,34209.72,NaT,0,NaN
428,5,97,2017-04-19,4334,170.75,NaT,0,NaN
429,5,97,2017-04-19,4335,826.90,NaT,0,NaN
430,5,97,2017-04-19,4336,755.56,NaT,0,NaN
431,5,370,2017-04-27,4337,16983.83,NaT,0,NaN
432,5,121,2017-05-28,4338,54542.92,NaT,0,NaN
433,5,113,2017-04-28,4339,4452.80,NaT,0,NaN
434,5,4,2017-04-27,4340,7342.50,NaT,0,NaN
435,5,43,2017-04-13,4341,2982.65,NaT,0,NaN
436,5,151,2017-04-20,4342,10890.00,NaT,0,NaN
437,5,3,2017-04-27,4343,1001.52,NaT,0,NaN
438,5,423,2017-04-27,4344,1900.00,NaT,0,NaN
439,5,97,2017-05-08,4345,625.62,NaT,0,NaN
440,5,364,2017-04-27,4346,2500.00,NaT,0,NaN
441,5,374,2017-04-27,4347,2000.00,NaT,0,NaN

In [6]:
from app.models import CtaCte

cta_cte = CtaCte.objects.filter(cod_proveedor__razon_social__contains='Bonafede Emiliana')\
    .values(
    'tipo_movim__descripcion',
    'cod_proveedor',
    'cod_proveedor__razon_social',
    'cod_proveedor__direccion',
    'cod_proveedor__localidad__descripcion',
    'cod_proveedor__cuit',
    'cod_proveedor__saldo_cta_cte',
    'fecha_comprob',
    'nro_comprob',
    'importe',
    'periodo_contable',
    'tipo_comprobante')

df = DataFrame(cta_cte)
df = df.rename({'cod_proveedor__cuit': 'cuit', 
               'cod_proveedor__direccion': 'direccion',
               'cod_proveedor__localidad__descripcion': 'localidad', 
               'cod_proveedor__razon_social': 'razon_social', 
               'tipo_movim__descripcion': 'tipo_movimiento', 
                'cod_proveedor__saldo_cta_cte': 'saldo'}, axis='columns')
df.sort_values('fecha_comprob', inplace=True)
df['fecha_comprob'] = to_datetime(df.fecha_comprob)

In [8]:
df['debe'] = df.loc[df.tipo_movimiento == 'Orden de Pago'].importe
df['haber'] = df.loc[df.tipo_movimiento == 'Factura Cuenta Corriente'].importe; df

,tipo_movimiento,cod_proveedor,razon_social,direccion,localidad,cuit,saldo,fecha_comprob,nro_comprob,importe,periodo_contable,tipo_comprobante,debe,haber
50,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-01-28,0,5000.0,2015-01-28,None,NaN,5000.0
52,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-01-30,2533,8000.0,None,None,8000.0,NaN
51,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-01-30,1,3000.0,2015-01-30,None,NaN,3000.0
4,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-02-01,2,3000.0,2015-02-01,None,NaN,3000.0
7,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-02-10,2703,3000.0,None,None,3000.0,NaN
5,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-03-01,3,3000.0,2015-03-01,None,NaN,3000.0
8,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-03-10,2704,3000.0,None,None,3000.0,NaN
6,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-04-01,4,3000.0,2015-04-01,None,NaN,3000.0
9,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-04-10,2705,3000.0,None,None,3000.0,NaN
13,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-05-01,5,3000.0,2015-05-01,None,NaN,3000.0
14,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-05-29,2849,3000.0,None,None,3000.0,NaN
12,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-06-01,6,3000.0,2015-06-01,None,NaN,3000.0
0,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-06-25,2873,3000.0,None,None,3000.0,NaN
15,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-07-01,7,3000.0,2015-07-01,None,NaN,3000.0
10,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-07-25,2982,3000.0,None,None,3000.0,NaN
16,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-08-01,8,3000.0,2015-08-01,None,NaN,3000.0
11,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-08-25,2983,3000.0,None,None,3000.0,NaN
18,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-09-01,9,3000.0,2015-09-01,None,NaN,3000.0
23,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-09-18,3197,3000.0,None,None,3000.0,NaN
19,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-10-01,10,3000.0,2015-10-01,None,NaN,3000.0
22,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-10-15,3196,3000.0,None,None,3000.0,NaN
20,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-11-01,11,3000.0,2015-11-01,None,NaN,3000.0
21,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-11-19,3195,3000.0,None,None,3000.0,NaN
25,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-12-18,3390,3000.0,None,None,3000.0,NaN
24,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2015-12-18,12,3000.0,2015-12-18,None,NaN,3000.0
27,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-01-17,1,4500.0,2016-01-17,None,NaN,4500.0
17,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-01-18,3337,4500.0,None,None,4500.0,NaN
28,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-02-28,2,3400.0,2016-02-28,None,NaN,3400.0
26,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-02-29,3434,3400.0,None,None,3400.0,NaN
1,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-03-26,3468,3400.0,None,None,3400.0,NaN
29,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-03-26,3,3400.0,2016-03-26,None,NaN,3400.0
39,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-05-23,5,6800.0,2016-05-23,None,NaN,6800.0
30,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-05-24,3565,6800.0,None,None,6800.0,NaN
40,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-06-21,6,3400.0,2016-06-21,None,NaN,3400.0
3,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-06-22,3664,3400.0,None,None,3400.0,NaN
41,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-07-24,7,5100.0,2016-07-24,None,NaN,5100.0
31,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-07-25,3736,5100.0,None,None,5100.0,NaN
43,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-08-27,9,4000.0,2016-08-27,None,NaN,4000.0
42,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-08-28,8,4000.0,2016-08-28,None,NaN,4000.0
32,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-08-29,3834,4000.0,None,None,4000.0,NaN
33,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-09-28,3914,4000.0,None,None,4000.0,NaN
44,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-10-13,10,4000.0,2016-10-13,None,NaN,4000.0
2,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-10-14,3957,4000.0,None,None,4000.0,NaN
45,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-11-22,11,4000.0,2016-11-22,None,NaN,4000.0
34,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-11-23,4013,4000.0,None,None,4000.0,NaN
46,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-12-19,12,4000.0,2016-12-19,None,NaN,4000.0
38,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2016-12-20,4268,4000.0,None,None,4000.0,NaN
47,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-01-18,1,6000.0,2017-01-18,None,NaN,6000.0
35,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-01-19,4179,6000.0,None,None,6000.0,NaN
48,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-02-22,2,4500.0,2017-02-22,None,NaN,4500.0
36,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-02-23,4212,4500.0,None,None,4500.0,NaN
49,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-03-13,3,4500.0,2017-03-13,None,NaN,4500.0
37,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-03-14,4251,4500.0,None,None,4500.0,NaN
53,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-04-20,4317,4500.0,None,None,4500.0,NaN
54,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-05-22,4378,4500.0,None,None,4500.0,NaN
55,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-06-15,4444,4500.0,None,None,4500.0,NaN

In [17]:
df = df.where((pd.notnull(df)), None); df

,tipo_movimiento,cod_proveedor,razon_social,direccion,localidad,cuit,saldo,fecha_comprob,nro_comprob,importe,periodo_contable,tipo_comprobante,debe,haber
452,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-03-27,24335636,768.78,2012-04-30,None,None,768.78
293,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-03,58,2100,None,None,2100,None
292,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-03,3042012,2100,2012-04-30,None,None,2100
290,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-09,9042012,1210,2012-04-30,None,None,1210
291,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-09,54,1210,None,None,1210,None
449,Contado,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-17,17042012,800,None,None,None,None
457,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-17,78,5188.27,None,None,5188.27,None
456,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-17,17042012,5188.27,2012-04-30,None,None,5188.27
455,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-17,70,621.62,None,None,621.62,None
454,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-17,17042012,621.62,2012-04-30,None,None,621.62
453,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-17,68,768.78,None,None,768.78,None
435,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-18,18042012,324.4,2012-04-30,None,None,324.4
438,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-18,136,228.51,None,None,228.51,None
450,Contado,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-18,18042012,5000,None,None,None,None
451,Contado,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-18,18042012,2873.75,None,None,None,None
437,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-18,135,324.4,None,None,324.4,None
436,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-18,18042012,228.51,2012-04-30,None,None,228.51
46,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-19,93,344.26,None,None,344.26,None
42,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,20042012,1900,2012-04-30,None,None,1900
41,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,88,53.52,None,None,53.52,None
40,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,4483,53.52,2012-04-30,None,None,53.52
43,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,91,1900,None,None,1900,None
44,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,200412,344.26,2012-04-30,None,None,344.26
433,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,20042012,1871.68,2012-04-30,None,None,1871.68
434,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,132,1871.68,None,None,1871.68,None
45,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,19042012,8330,2012-04-30,None,None,8330
462,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-20,81,1103.24,None,None,1103.24,None
47,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,94,8330,None,None,8330,None
460,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,20042012,230,2012-04-30,None,None,230
459,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,20042012,3289.76,2012-04-30,None,None,3289.76
458,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-20,20042012,1103.24,2012-04-30,None,None,1103.24
448,Contado,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-20,20042012,2000,None,None,None,None
461,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-20,80,3519.76,None,None,3519.76,None
439,Factura Cuenta Corriente,110,Albino A. Bonafede,J.A. Roca 22,Colonia Aldao,20062722194,1000.4,2012-04-25,464,1000.4,2012-04-30,None,None,1000.4
440,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-25,25042012,464.5,2012-04-30,None,None,464.5
50,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-26,18042012,620.46,2012-04-30,None,None,620.46
48,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,18042012,552.5,2012-04-30,None,None,552.5
52,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-26,101,1478.62,None,None,1478.62,None
66,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,113,604.48,None,None,604.48,None
67,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,21042012,500,2012-04-30,None,None,500
68,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,114,500,None,None,500,None
53,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,103,552.5,None,None,552.5,None
64,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,111,120,None,None,120,None
61,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-26,24042012,3000,2012-04-30,None,None,3000
62,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-26,106,3000,None,None,3000,None
63,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,24042012,120,2012-04-30,None,None,120
51,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-26,100,620.46,None,None,620.46,None
65,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-04-26,26042012,604.48,2012-04-30,None,None,604.48
49,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-04-26,18042012,1478.62,2012-04-30,None,None,1478.62
95,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-04-28,135,532.17,2012-04-30,None,None,532.17
71,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-02,2052012,897.5,2012-05-31,None,None,897.5
73,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-03,117,149,None,None,149,None
445,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-03,3052012,1600,2012-05-31,None,None,1600
69,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-03,3052012,149,2012-05-31,None,None,149
70,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-03,3052012,149,2012-05-31,None,None,149
72,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-03,116,1046.5,None,None,1046.5,None
446,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-04,4052012,171.5,2012-05-31,None,None,171.5
444,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-04,141,7880,None,None,7880,None
447,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-04,142,2236,None,None,2236,None
74,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-07,7052012,6000,2012-05-31,None,None,6000
75,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-08,153,6000,None,None,6000,None
76,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-11,11052012,140,2012-05-31,None,None,140
77,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-11,167,140,None,None,140,None
443,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-15,15052012,3400,2012-05-31,None,None,3400
442,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-16,16052012,2480,2012-05-31,None,None,2480
96,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-18,18052012,532.17,2012-05-31,None,None,532.17
97,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-18,174,532.17,None,None,532.17,None
98,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-18,18052012,9870.55,2012-05-31,None,None,9870.55
99,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-18,177,9870.55,None,None,9870.55,None
441,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-20,20052012,2000,2012-05-31,None,None,2000
100,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-22,22052012,7707.9,2012-05-31,None,None,7707.9
101,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-22,186,7707.9,None,None,7707.9,None
131,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-29,25092012,2121,2012-06-30,None,None,2121
132,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-05-29,207,2121,None,None,2121,None
133,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-29,29052012,2442.2,2012-05-31,None,None,2442.2
134,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-05-29,208,2442.2,None,None,2442.2,None
87,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-29,206,17999.6,None,None,17999.6,None
86,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-29,29052012,17999.6,2012-06-30,None,None,17999.6
85,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-29,205,7500,None,None,7500,None
84,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-05-29,29052012,7500,2012-05-31,None,None,7500
119,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-06-08,232,5500,None,None,5500,None
120,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-08,233,1500,None,None,1500,None
122,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-08,234,1450,None,None,1450,None
123,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-08,8062012,149,2012-06-30,None,None,149
124,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-08,8062012,149,2012-06-30,None,None,149
125,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-13,242,149,None,None,149,None
126,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-13,243,149,None,None,149,None
127,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-13,13062012,274.7,2012-06-30,None,None,274.7
130,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-13,245,274.7,None,None,274.7,None
129,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-06-13,244,365,None,None,365,None
128,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-06-15,15062012,365,2012-06-30,None,None,365
140,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-18,18062012,3949.96,2012-06-30,None,None,3949.96
141,Factura Cuenta Corriente,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-18,18062012,3798.81,2012-06-30,None,None,3798.81
144,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-28,28062012,660,2012-06-30,None,None,660
145,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-29,279,660,None,None,660,None
143,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-06-29,273,3798.81,None,None,3798.81,None
142,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-06-29,272,3949.96,None,None,3949.96,None
162,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-06-29,270,1000,None,None,1000,None
117,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-07-10,10072012,5500,2012-07-31,None,None,5500
169,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-07-18,372,440,None,None,440,None
161,Factura Cuenta Corriente,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-07-18,18072012,1000,2012-07-31,None,None,1000
118,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-07-20,20072012,1500,2012-07-31,None,None,1500
170,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-07-20,373,1000,None,None,1000,None
160,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-08-15,422,1379.48,None,None,1379.48,None
121,Factura Cuenta Corriente,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-08-20,20082012,1450,2012-08-31,None,None,1450
187,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-08-31,450,3400,None,None,3400,None
184,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-09-18,390,1496.29,None,None,1496.29,None
159,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-09-28,419,694,None,None,694,None
158,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-10-11,415,912,None,None,912,None
220,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-10-28,485,694,None,None,694,None
222,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-10-28,488,360.02,None,None,360.02,None
221,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-10-28,487,316,None,None,316,None
223,Orden de Pago,72,Herminio Bonafede (Retiro),None,Colonia Aldao,11111111111,-12387.8,2012-11-20,489,4884.02,None,None,4884.02,None
224,Orden de Pago,73,Eloy Bonafede (Retiro),None,Colonia Aldao,11111111111,-16049,2012-11-20,490,14221,None,None,14221,None
225,Orden de Pago,93,Hugo Bonafede (Retiro),None,Colonia Aldao,11111111111,-3045.02,2012-11-20,492,1685,None,None,1685,None
168,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-05-27,5,5103,None,None,None,None
297,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-06-24,6,5211,None,None,None,None
413,Contado,266,Bonafede Estela,Colon 516,Colonia Aldao,27125788152,0,2013-07-19,370,882.69,None,None,None,None
321,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-07-25,8,5211,None,None,None,None
414,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-08-20,9,5211,None,None,None,None
59,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-09-01,1499,16092.4,None,None,16092.4,None
332,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-09-20,10,5791.8,None,None,None,None
60,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-10-01,1500,14873.4,None,None,14873.4,None
58,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-10-01,1498,13941.9,None,None,13941.9,None
78,Contado,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-10-21,11,5880,None,None,None,None
147,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-11-01,1659,5943.3,None,None,5943.3,None
79,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-11-01,1515,1319.89,None,None,1319.89,None
105,Factura Cuenta Corriente,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-11-20,13,6674.4,2013-11-30,3,None,6674.4
106,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-11-21,1568,6674.4,None,None,6674.4,None
110,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-11-23,1585,631.62,None,None,631.62,None
56,Factura Cuenta Corriente,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-12-20,14,6933.6,2013-12-31,3,None,6933.6
57,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2013-12-21,1679,6933.6,None,None,6933.6,None
136,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-12-27,1619,48724.4,None,None,48724.4,None
137,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2013-12-31,1620,9584.4,None,None,9584.4,None
166,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2014-01-20,1734,7128,None,None,7128,None
165,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-01-20,1726,5000,None,None,5000,None
188,Factura Cuenta Corriente,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2014-01-22,17,7452,2014-02-01,3,None,7452
190,Factura Cuenta Corriente,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2014-01-22,16,7128,2014-02-01,3,None,7128
189,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2014-01-25,1774,7452,None,None,7452,None
146,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-01-28,1658,919,None,None,919,None
181,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-02-20,1751,5000,None,None,5000,None
371,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-02-20,1761,40000,None,None,40000,None
167,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-02-20,1737,5000,None,None,5000,None
203,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400,2014-03-10,1854,8164.8,None,None,8164.8,None
204,Orden de Pago,281,Bonafede Eloy Y Herminio S.H.,9 De Julio 75,Colonia Aldao,30655021279,-2.28227e+06,2014-03-14,1863,63457.7,None,None,63457.7,None

In [5]:
debe = df[(df.fecha_comprob >= '1-18-2017') & (df.fecha_comprob <= '2-1-2017')].copy(); debe

,tipo_movimiento,cod_proveedor,razon_social,direccion,localidad,cuit,saldo,fecha_comprob,nro_comprob,importe,periodo_contable,tipo_comprobante
381,Factura Cuenta Corriente,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-01-18,1,6000.0,2017-01-18,None
364,Orden de Pago,367,Bonafede Emiliana (Sueldo),25 De Mayo 201,Colonia Aldao,27111111111,-38000.0,2017-01-19,4179,6000.0,None,None
408,Factura Cuenta Corriente,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400.0,2017-01-21,64,7818.3,2017-04-01,None
359,Orden de Pago,221,Analia G. Bonafede,San Martin 422,Sunchales,27172742993,142400.0,2017-01-21,4140,7818.3,None,None
395,Factura Cuenta Corriente,364,Bonafede Luciano (Sueldo),None,Colonia Aldao,11111111111,-34500.0,2017-01-30,1,3750.0,2017-01-30,None
360,Orden de Pago,364,Bonafede Luciano (Sueldo),None,Colonia Aldao,11111111111,-34500.0,2017-01-31,4142,3750.0,None,None

In [44]:
debe = df[(df.tipo_movimiento == 'Orden de Pago') & (df.fecha_comprob > '1-1-2017')].copy(); debe

,cod_proveedor,cuit,direccion,localidad,razon_social,saldo,fecha_comprob,importe,nro_comprob,periodo_contable,tipo_comprobante,tipo_movimiento
35,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-01-19,6000.0,4179,None,None,Orden de Pago
36,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-02-23,4500.0,4212,None,None,Orden de Pago
37,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-03-14,4500.0,4251,None,None,Orden de Pago
53,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-04-20,4500.0,4317,None,None,Orden de Pago
54,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-05-22,4500.0,4378,None,None,Orden de Pago
55,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-06-15,4500.0,4444,None,None,Orden de Pago

In [24]:
haber = df[df.tipo_movimiento == 'Factura Cuenta Corriente'].copy(); haber

,cod_proveedor,cuit,direccion,localidad,razon_social,saldo,fecha_comprob,importe,nro_comprob,periodo_contable,tipo_comprobante,tipo_movimiento
50,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-01-28,5000.0,0,2015-01-28,None,Factura Cuenta Corriente
51,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-01-30,3000.0,1,2015-01-30,None,Factura Cuenta Corriente
4,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-02-01,3000.0,2,2015-02-01,None,Factura Cuenta Corriente
5,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-03-01,3000.0,3,2015-03-01,None,Factura Cuenta Corriente
6,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-04-01,3000.0,4,2015-04-01,None,Factura Cuenta Corriente
13,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-05-01,3000.0,5,2015-05-01,None,Factura Cuenta Corriente
12,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-06-01,3000.0,6,2015-06-01,None,Factura Cuenta Corriente
15,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-07-01,3000.0,7,2015-07-01,None,Factura Cuenta Corriente
16,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-08-01,3000.0,8,2015-08-01,None,Factura Cuenta Corriente
18,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-09-01,3000.0,9,2015-09-01,None,Factura Cuenta Corriente
19,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-10-01,3000.0,10,2015-10-01,None,Factura Cuenta Corriente
20,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-11-01,3000.0,11,2015-11-01,None,Factura Cuenta Corriente
24,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2015-12-18,3000.0,12,2015-12-18,None,Factura Cuenta Corriente
27,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-01-17,4500.0,1,2016-01-17,None,Factura Cuenta Corriente
28,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-02-28,3400.0,2,2016-02-28,None,Factura Cuenta Corriente
29,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-03-26,3400.0,3,2016-03-26,None,Factura Cuenta Corriente
39,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-05-23,6800.0,5,2016-05-23,None,Factura Cuenta Corriente
40,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-06-21,3400.0,6,2016-06-21,None,Factura Cuenta Corriente
41,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-07-24,5100.0,7,2016-07-24,None,Factura Cuenta Corriente
43,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-08-27,4000.0,9,2016-08-27,None,Factura Cuenta Corriente
42,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-08-28,4000.0,8,2016-08-28,None,Factura Cuenta Corriente
44,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-10-13,4000.0,10,2016-10-13,None,Factura Cuenta Corriente
45,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-11-22,4000.0,11,2016-11-22,None,Factura Cuenta Corriente
46,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2016-12-19,4000.0,12,2016-12-19,None,Factura Cuenta Corriente
47,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-01-18,6000.0,1,2017-01-18,None,Factura Cuenta Corriente
48,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-02-22,4500.0,2,2017-02-22,None,Factura Cuenta Corriente
49,367,27111111111,25 De Mayo 201,Colonia Aldao,Bonafede Emiliana (Sueldo),-38000.0,2017-03-13,4500.0,3,2017-03-13,None,Factura Cuenta Corriente