In [1]:
from datetime import datetime, timedelta
from pandas import pandas as pd
from TpsParse.Tps.TpsFile import TpsFile
import os
import numpy
from math import ceil
from numpy import nan

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_row', 1000)

In [14]:
from bokeh.resources import CDN
from bokeh.embed import components
from bokeh.models import Range1d, NumeralTickFormatter, RadioGroup
from bokeh.plotting import figure
from bokeh.transform import linear_cmap

In [15]:
path = "/home/wen/Documentos/Proyecto/Datos Agrosoft/Potreros.tps"

In [16]:
file = open(path, "r+b")
tps = TpsFile(file)

cols_and_type = []
columns = []
records = []
for definition in tps.get_table_definitions():
    for field in definition.fields:
        column = field.field_name.split(':')[1].lower()
        col_and_type = (field.field_name.split(':')[1].lower(), field.type)
        if column not in columns:
            columns.append(column)
            cols_and_type.append(col_and_type)
    for record in tps.get_data_records(definition):
        records.append([r.strip().title() if isinstance(r, str) else r for r in record.values])

table = []
for record in records:
    dic = {}
    for col, rec in zip(columns, record):
        dic[col] = rec
    table.append(dic)

df = pd.DataFrame(table, columns=columns)

name_list = ('fec', 'periodo')
# Formatear la fecha.
date_columns = [cname for cname, ctype in cols_and_type if cname.startswith(name_list) and ctype == 'SignedLong']
for col in df[date_columns]:
    df[col] = datetime(1800, 12, 28) + df[col].map(timedelta)
    df.loc[df[col] == '1800-12-28', col] = None
    
# Reemplazar los campos vac√≠os con NaN.
df.replace(to_replace=['', 0], value=nan, inplace=True)

# Dejar solo los registros que tengan al menos la mitad de valores no nulos.
thresh = ceil(len(columns) / 2)
df.dropna(axis='index', thresh=thresh, inplace=True)

In [17]:
df

,nro_potrero,campo,cantidad_de_hectareas_reales,cantidad_de_hectareas_efectivas,campana_actual,actividad,porcarrendado,de_baja
0,1-1N,1,8.00,8.00,11,6.0,NaN,NaN
1,1-1S,1,8.00,8.00,6,6.0,NaN,NaN
2,1-2N,1,8.00,8.00,6,6.0,NaN,NaN
3,1-2S,1,8.00,8.00,11,6.0,NaN,NaN
4,1-3N,1,8.00,8.00,8,6.0,NaN,NaN
5,1-3S,1,8.00,8.00,8,6.0,NaN,NaN
6,1-4N,1,8.00,8.00,2,6.0,NaN,NaN
7,1-4S,1,8.00,8.00,6,6.0,NaN,NaN
8,1-5O,1,12.00,12.00,6,6.0,NaN,NaN
9,1-5E,1,8.00,8.00,9,6.0,NaN,NaN
10,1-6,1,5.00,5.00,2,6.0,NaN,NaN
11,1-7,1,5.00,5.00,10,6.0,NaN,NaN
12,1-8N,1,8.00,8.00,11,6.0,NaN,NaN
13,1-8S,1,8.00,8.00,8,6.0,NaN,NaN
14,1-9N,1,8.00,8.00,1,6.0,NaN,NaN
15,1-9S,1,8.00,8.00,1,6.0,NaN,NaN
16,1-10N,1,6.00,6.00,6,6.0,NaN,NaN
17,1-10S,1,8.00,8.00,2,6.0,NaN,NaN
18,1-11N,1,7.00,7.00,9,6.0,NaN,NaN
19,1-11S,1,7.00,7.00,9,6.0,NaN,NaN
20,1-13,1,22.00,22.00,11,6.0,NaN,NaN
21,2-1E,2,4.00,4.00,5,6.0,NaN,NaN
22,2-1O,2,8.00,8.00,9,6.0,NaN,NaN
23,2-2E,2,8.00,8.00,11,6.0,NaN,NaN
24,2-2O,2,8.00,8.00,11,6.0,NaN,NaN
25,2-3Ne,2,4.00,4.00,9,6.0,NaN,NaN
26,2-3No,2,4.00,4.00,3,6.0,NaN,NaN
27,2-3Se,2,4.00,4.00,9,6.0,NaN,NaN
28,2-3So,2,4.00,4.00,3,6.0,NaN,NaN
29,2-4E,2,6.00,6.00,11,6.0,NaN,NaN
30,2-4O,2,7.00,7.00,9,6.0,NaN,NaN
31,3-1E,3,8.00,8.00,11,6.0,NaN,NaN
32,3-1O,3,8.00,8.00,11,6.0,NaN,NaN
33,3-2E,3,8.00,8.00,1,6.0,NaN,NaN
34,3-2O,3,8.00,8.00,9,6.0,NaN,NaN
35,3-3E,3,8.00,8.00,5,6.0,NaN,NaN
36,3-3O,3,8.00,8.00,5,6.0,NaN,NaN
37,3-4E,3,8.00,8.00,6,6.0,NaN,NaN
38,3-4O,3,8.00,8.00,6,6.0,NaN,NaN
39,3-5E,3,8.00,8.00,5,6.0,NaN,NaN
40,3-5O,3,8.00,8.00,5,6.0,NaN,NaN
41,3-6E,3,8.00,8.00,8,6.0,NaN,NaN
42,3-6O,3,8.00,8.00,3,6.0,NaN,NaN
43,3-7E,3,8.00,8.00,6,6.0,NaN,NaN
44,3-7O,3,8.00,8.00,6,6.0,NaN,NaN
45,3-8E,3,8.00,8.00,10,6.0,NaN,NaN
46,3-8O,3,8.00,8.00,2,6.0,NaN,NaN
47,4-1,4,9.00,9.00,2,7.0,NaN,NaN
48,4-2,4,9.00,9.00,10,7.0,NaN,NaN
49,4-3,4,9.00,9.00,11,7.0,NaN,NaN
50,4-4,4,8.00,8.00,7,7.0,NaN,NaN
51,4-5,4,8.00,8.00,10,7.0,NaN,NaN
52,4-6,4,8.00,8.00,10,7.0,NaN,NaN
53,4-7,4,9.00,9.00,11,7.0,NaN,NaN
54,5-N,5,15.00,15.00,2,7.0,NaN,NaN
55,5-S,5,15.00,15.00,10,7.0,NaN,NaN
56,7,7,32.00,32.00,2,5.0,NaN,NaN
57,1-12,1,7.00,7.00,2,NaN,NaN,NaN
58,6-E,6,65.00,65.00,2,NaN,NaN,NaN
59,6-O,6,65.00,65.00,2,NaN,NaN,NaN

In [9]:
%pprint

Pretty printing has been turned OFF

In [118]:
sorted(df.cod_provincia.unique().astype(int))

[-9223372036854775808, 2, 5, 8, 9, 12, 13, 15, 17, 18, 20, 35, 36, 37, 41, 43, 45, 56, 76, 93, 99, 117, 135, 136, 148, 193, 195, 200, 207, 208, 209, 213, 238, 252, 253]

In [50]:
len(df.codcliente.unique())

[nan, 1.0, 9.0, 23.0, 24.0, 27.0, 28.0, 40.0, 55.0, 60.0, 85.0, 98.0]

In [46]:
len(df.nro_debito)

2098

In [110]:
cols_and_type

[('caja', 'SignedLong'), ('fecha', 'Date'), ('ingegr', 'FixedLengthString'), ('tipo', 'FixedLengthString'), ('numero', 'SignedLong'), ('descri', 'FixedLengthString'), ('importe', 'Bcd')]

### Crear BD

In [ ]:
# Conectarse a la BD.
conn = psycopg2.connect("dbname=agrosoft user=postgres password=1684")

# Abrir un cursor para hacer operaciones en la BD.
cur = conn.cursor()

In [ ]:
ctypes = {
    'Byte': 'integer',
    'SignedShort': 'integer',
    'UnsignedShort': 'integer',
    'Date': 'date',
    'Time': 'time',
    'SignedLong': 'integer',
    'UnsignedLong': 'integer',
    'Float': 'real',
    'Double': 'real',
    'Bcd': 'real',
    'FixedLengthString': 'varchar',
    'ZeroTerminatedString': 'varchar',
    'PascalString': 'varchar',
    'Group': 'varchar',
}

# Generar una lista con los archivos.
path_folder = "/home/wen/Documentos/Proyecto/Datos Agrosoft/"
filelist = os.listdir(path_folder)
filelist = [x for x in filelist if x.endswith((".tps", ".TPS", "Tps"))]
filelist.sort(key=str.lower)

for i in filelist:
    with open(path_folder + i, 'r+b') as file:
        file_name, extension = i.lower().split('.')

        # Procesar el tps con el parser para poder obtener los datos.
        tps = TpsFile(file)

        cols_and_type = []
        columns = []
        for definition in tps.get_table_definitions():
            for field in definition.fields:
                column = field.field_name.split(':')[1].lower()
                col_and_type = (field.field_name.split(':')[1].lower(), field.type)
                if column not in columns:
                    columns.append(column)
                    cols_and_type.append(col_and_type)

        list_attr = [f'{c_name} {ctypes[c_type]}' for c_name, c_type in cols_and_type]
        str_attr = ', '.join(list_attr)

        # Ejecutar comando para crear la tabla con sus claves.
        cur.execute(f'CREATE TABLE {file_name} ({str_attr});')

In [ ]:
# Pasar los cambios a la BD.
conn.commit()

# Cerrar la conexi√≥n.
cur.close()
conn.close()

# Hacer diccio con las claves de cada tabla.

In [ ]:
# Conectarse a la BD.
conn = psycopg2.connect("dbname=agrosoft user=postgres password=1684")

# Abrir un cursor para hacer operaciones en la BD.
cur = conn.cursor()

In [ ]:
# cur.execute(f"ALTER TABLE {file_name} ADD FOREIGN KEY ({column1}) REFERENCES test2 ({column2});")

In [ ]:
# Pasar los cambios a la BD.
conn.commit()

# Cerrar la conexi√≥n.
cur.close()
conn.close()

#### Limpiar la BD para actualizar los datos.

In [ ]:
# Conectarse a la BD.
conn = psycopg2.connect("dbname=agrosoft user=postgres password=1684")

# Abrir un cursor para hacer operaciones en la BD.
cur = conn.cursor()

In [ ]:
# Truncar los datos de la tabla.
cur.execute(f"TRUNCATE {table} cascade;")

In [ ]:
# Pasar los cambios a la BD.
conn.commit()

# Cerrar la conexi√≥n.
cur.close()
conn.close()

#### Crear el DF y actualizar la DB.

In [ ]:
# Generar una lista con los archivos.
path_folder = "/home/wen/Documentos/Proyecto/Datos Agrosoft/"
filelist = os.listdir(path_folder)
filelist = [x for x in filelist if x.endswith((".tps", ".TPS", "Tps"))]
filelist.sort(key=str.lower)

# Columnas que deberian ser de tipo datetime.
name_list = ('fec', 'periodo')
processed_files = 0

for i in filelist:
    if i.endswith((".tps", ".TPS", "Tps")):
        with open(path_folder + i, 'r+b') as file:
            file_name, extension = i.lower().split('.')
#             print(file_name)
            
            # Procesar el tps con el parser para poder obtener los datos.
            tps = TpsFile(file)
            
            cols_and_type = []
            columns = []
            records = []
            for definition in tps.get_table_definitions():
                for field in definition.fields:
                    column = field.field_name.split(':')[1].lower()
                    col_and_type = (field.field_name.split(':')[1].lower(), field.type)
                    if column not in columns:
                        columns.append(column)
                        cols_and_type.append(col_and_type)
                for record in tps.get_data_records(definition):
                    records.append([r.strip().title() if isinstance(r, str) else r for r in record.values])
                        
            # Crear una tabla que una las columnas con los registros para formar un DF.
            table = []
            for record in records:
                dic = {}
                for col, rec in zip(columns, record):
                    dic[col] = rec
                table.append(dic)
                
            df = pd.DataFrame(table, columns=columns)
            df.replace('', None, inplace=True)
            
            # Formatear la fecha.
            date_columns = [x for x in df.columns if x[0].startswith(name_list) and x[1] == 'SignedLong']
            for col in df[date_columns]:
                df[col] = datetime(1800, 12, 28) + df[col].map(timedelta)
                df.loc[df[col] == '1800-12-28', col] = None
                
            processed_files += 1
            
            # Machear tipos de datos.
            dtypes = {c_name: col_types[c_type] for c_name, c_type in cols_and_type}
            # Crear tabla en la BD.
            engine = create_engine('postgresql://postgres:1684@localhost:5432/agrosoft')
            df.to_sql('Cli', engine, if_exists='append', index=False, dtype=dtypes)
            
            
print(f'Archivos procesados: {processed_files}')